<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension point="com.ensoftcorp.atlas.ui.smartViewScript">
   	<script class= "edu.iastate.structured.viewer.StructuredSmartView"/>
   	<script class= "edu.iastate.structured.viewer.StructuredParenthoodSmartView"/>
   	<script class= "edu.iastate.structured.viewer.StructuredSmartView2"/>
   </extension>
</plugin>